/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Builds]/
/[Ll]ogs/
/[MemoryCaptures]/
/[UserSettings]/

/artifacts/

*.swp
*.swo
.vs/
[Dd]ebug/
[Rr]elease/
*.props
*.targets
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.userosscache
*.sln.docstates

.DS_Store
[Th]umbs.db
*.bak